{% extends "base.html" %}

{% block title%}Route search{% endblock%}

{% block content%}


    <h1 class="text-center my-4">Route search</h1>

    <div class="row ">
        {% if routes %}
            <div class='col-md-8 mx-auto'>
                <h3>
                    {% if routes|length == 1%}
                        Route from {{cities.from_city.name}} to {{cities.to_city.name}}

                    {% else %}
                        Routes from {{cities.from_city.name}} to {{cities.to_city.name}} ({{ routes|length }})

                    {% endif %}
                </h3>
            <hr>
            {% for route in routes %}

                <form action="{% url 'add_route' %}" method="post"> {% csrf_token %}
                <input type="hidden" name="from_city" value="{{ cities.from_city.id }}">
                <input type="hidden" name="to_city" value="{{ cities.to_city.id }}">
                <input type="hidden" name="total_time" value="{{ route.total_time }}">
                <input type="hidden" name="trains" value="{% for train in route.trains %}{{ train.id }},{% endfor %} label = '' " >

                {% if forloop.first %}<h5> The quickest route </h5>{% endif %}
                <table class="table table-striped">
                    <thead> <tr> <th> List of trains</th></tr></thead>
                <tbody>
                    {% for train in route.trains %}
                        <tr> <td>
                                Train <strong> №{{train.name}}</strong> from
                            {{train.from_city}} to {{train.to_city}}.
                            Travel time {{train.travel_time}}
                        </td> </tr>
                    {% endfor %}
                </tbody>
                </table>
                <p>Total travel time {{route.total_time}} </p>

                    {% if user.is_authenticated %}
                        <button type='submit' class='btn btn-outline-success'>Save route</button>
                    {% else %}
                        <div class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Login to save routes">
                        <button type='submit' class='btn btn-outline-success disabled'>Save route</button>
                        </div>
                    {% endif %}

                </form>
                    <br/><hr>
            {% endfor %}
            </div>
        {% endif %}


    <div class='col-md-8 mx-auto'>
        {{ways}}
        {% url 'find_routes' as find_routes_url %}
        {% include 'form.html' with value='Find' action=find_routes_url  %}
    </div>



{% endblock %}