{% extends "base.html" %}
{% block title%}Routes list{% endblock%}
{% block content%}
<h1 class="display-4 text-center my-4">Routes</h1>
<div class="row ">
    <div class='col-md-8 mx-auto'>
      <table class="table table-striped">
        <thead>
          <tr>
          <th> Название маршрута</th>
          <th> Откуда</th>
          <th> Куда</th>
          <th> Время в пути</th>
          </tr>
        </thead>
        <tbody>
        {% for object in page_obj%}
          <tr>
            <td> <a href='{% url "detail" pk=object.pk%}'>
            {{object.name}} </a> </td>
            <td> {{object.from_city.name}} </td>
            <td> {{object.to_city.name}} </td>
            <td> {{object.travel_times}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock%}