{% extends 'base.html' %}


{% block title%}
List of trains
{% endblock title%}

{% block content%}
    <h1 class="text-center">List of trains</h1>
        <div class="row">
            <div class="col-8 mx-auto">
                <table class="table table-striped">
                    <tbody>
                        <thead>
                            <tr>
                                <th>Number of train</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Travel time</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        {% for object in page_obj %}
                            <tr>
                                <td>
                                     {{object.name}}
                                    {# <a href="{% url 'trains:detail' pk=object.id %}">{{object.name}}</a> #}
                                </td>
                                <td>{{ object.from_city }}</td>
                                <td>{{ object.to_city}}</td>
                                <td>{{ object.travel_time}}</td>
                                <td>
                                    <a href="{% url 'trains:update' pk=object.id %}">
                                        <button type="button" class="btn btn-outline-primary btn-sm">Edit</button>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'trains:delete' pk=object.id %}">
                                        <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->
<!--    <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--    </span>-->
<!--    {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--    {% endif %}-->
<!--    </span>-->
<!--</div>-->


<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
       {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        {% endif %}

    <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}

        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">{{ page_obj.next_page_number }}</span>
          </a>
        </li>

        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
    {% endif %}
  </ul>
</nav>


{% include 'form.html' with value='Save train' action=trains_add_url %}

{% endblock content%}